KIS_APP_KEY=PSCehN3f8Nv0N6pp4D7Yv6DyY9Q5lgx1iSzi
KIS_APP_SECRET=iYUlKsNKmhqybq+iWHYuYLEBFhHvZWm8cvZ0bL2XuOs8mnFPey5/phNTcGdAfng6rCiHH8yak9q4i0EaCNwEz4HFPJd27SN/DTmPE/oOnnhYMhlTwcDlzxb0EPCd2qF69lp4rYUQ3DWXvirhY4t4LLLp/E8uX7mVBAIw9lzQwq7IDRjcuAw=
KIS_ACCOUNT_NO=64062577-01
KIS_BASE_URL=https://openapi.koreainvestment.com:9443
STOCK_CACHE_FILE=stocks_cache.json
TOKEN_CACHE_FILE=token_cache.json


# PostgreSQL Database Configuration
DB_HOST=knhanul.nuni.co.kr
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=posid00
DB_NAME=stock
DB_SSLMODE=prefer
